:root {
    --body :   #FBEFEF;
    --sideBarcolor : #F5AFAF;
    --textColour: #0C2B4E;
    --headerColour :#F9DFDF ;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-family: "Roboto", sans-serif;
  color: var(--textColour);
}

#sideBar {
    background-color: var(--sideBarcolor);
    height: 100vh;
    padding: 10px;
}

.con {
    display: flex;
    justify-content: space-around;
}

#content {
    background-color: var(--body);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--sideBarcolor);
    background-color: var(--headerColour);
    height: 100px;
}

button {
     font-family: "Roboto", sans-serif;
     font-weight: bolder;
     background-color: var(--body);
     border-radius: 10px;
     cursor: pointer;
}

#myProjects {
     margin-top: 30px;
}

.project {
    display: flex;
    justify-content: space-around;
    background-color: var(--headerColour);
    text-align: center;
    border: 1px solid black;
    width: auto;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
   
}

.project p{
  background-color: var(--headerColour);
  border: 1px solid black;
  width: 70%;
  border-radius: 10px;
  cursor: pointer;
   padding: 10px;
}

.project p:hover{
  background-color: #F5AFAF;
}

#myTodo {
    margin-top: 20px;
    padding: 30px;
}


.todo {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    align-items: center;
    border: 1px solid var(--sideBarcolor);
    background-color: var(--headerColour);
    border-radius: 10px;
    min-height: 100px;
    margin-bottom: 20px;
}
.todo > :last-child {
  width: 100px;
  display: flex;
  justify-content: space-around;
}
input{
    cursor: pointer;
}

.subSection  {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.subSection input{
    border-radius: 10px;
    padding: 10px;
    cursor: text;
}
.subSection button{
    width: 20px;
}

dialog {
    position: absolute;
    top: 20%;
    left: 40%;
    height: 200px;
    background-color: transparent ;
    color: var(--font);
    height: 500px;
    width: 300px;
    border-radius: 5px;
    animation: fade-out 0.7s ease-out;
    border: solid 1px black;
}

::backdrop {
    backdrop-filter: blur(2px);
    
}
  
dialog:open {
    animation: fade-in 0.7s ease-out;
  }
  
  dialog:open::backdrop {
    animation: backdrop-fade-in 0.7s ease-out forwards;
  }
  
  /* Animation keyframes */
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: scaleY(0);
      display: none;
    }
  
    100% {
      opacity: 1;
      transform: scaleY(1);
      display: block;
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
      transform: scaleY(1);
      display: block;
    }
  
    100% {
      opacity: 0;
      transform: scaleY(0);
      display: none;
    }
  }
  
  @keyframes backdrop-fade-in {
    0% {
      background-color: rgb(0 0 0 / 0%);
    }
  
    100% {
      background-color: rgb(0 0 0 / 25%);
    }
  }

dialog form{
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}

.todo input[type="checkbox"]:checked + div > :first-child {
  text-decoration: line-through;
  opacity: 0.6;
}

.projDel {
  color: red;
  border: none;
  background-color: var(--headerColour);
  transition: transform 0.6s cubic-bezier(0.4,0,0.2,1);
}

.projDel:hover{
   transform: rotate(360deg) scale(1.1);
}

svg {
  width: 15px;
  height: 15px;
  color: red;
}

.high {
  background-color: pink;
  width: 50px;
  border: 2px solid red;
  border-radius: 20px;
  text-align: center;
  font-size: 10px;
}
.medium {
  background-color: rgb(234, 234, 151);
  width: 50px;
  border: 2px solid rgb(134, 134, 9);
  border-radius: 20px;
  text-align: center;
  font-size: 10px;
}
.low {
  background-color: lightskyblue;
  width: 50px;
  border: 2px solid blue;
  border-radius: 20px;
  text-align: center;
  font-size: 10px;
}

.sec p:last-child {
  font-size: small;
}

.delete {
   border: none;
   transition: transform 0.6s cubic-bezier(0.4,0,0.2,1);
}

.delete:hover{
  transform: scale(1.5);
}

.edit {
  border-radius: 13px;
  background-color: var(--body);
  border: 2px solid var(--sideBarcolor);
  width: 50px;
  font-size: small;
}

.edit:hover {
  background-color: lightblue;
}